<!-- This is the header with a toolbar. -->
<ion-header>
  <ion-toolbar>
          <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>Extra curriculum activities</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Every page starts with a ion-list with a small icon 
  and a second title which is alwys taged as h1.
Corresponding code can be found at: app.component.html  -->
<ion-content>
  <ion-card>
    <ion-list>
        <ion-item>
        <ion-icon name="checkbox" slot="start"></ion-icon>
        <h1>Some of my activities</h1>
        </ion-item>
<!-- From here each site is individual.
extras page contains ion-items with icons and text. --> 
        <ion-item><ion-icon name="checkmark"></ion-icon>
          <p>
              Professional facepainter for various agencies in Stuttgart and Karlsruhe (since 2012)
          </p>
        </ion-item>
        <ion-item><ion-icon name="checkmark"></ion-icon>
            <p>
                Service employee at Restaurant Wasserturm, Crailsheim (03.2015 - 08.2015)
            </p>
          </ion-item>
          <ion-item><ion-icon name="checkmark"></ion-icon>
              <p>
                  Development of a corporate design for the organ building company Sandtner (01.2017 - 02.2018)
              </p>
            </ion-item>
            <ion-item><ion-icon name="checkmark"></ion-icon>
                <p>
                    Development of a website for the oven construction company Schellinger (09.2018 - 01.2019)
                </p>
              </ion-item>
        </ion-list>
      </ion-card>
</ion-content>
