<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>My CV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
        <ion-icon name="document" slot="start"></ion-icon>
       <h1>My CV</h1> 
              </ion-item>
              <ion-item>
                 <p>Let me convince you with my curriculum vitae!</p> 
              </ion-item>
        </ion-list>  
  <figure>
  <img src="/assets/img/191016_Lebenslauf_v3.png" alt="Lebenslauf">
</figure>
        </ion-content>









<!--
</ion-content>
<ion-content class="padding">
    <ion-button routerLink="/tabs" routerDirection="'root'">GO TO TABS</ion-button>
  </ion-content> -->