<!-- Iris Albrecht
1902170
1902170@laurea.fi -->

<!-- This is the header with a toolbar. -->
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>My CV</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Every page starts with a ion-list with a small icon 
  and a second title which is alwys taged as h1.
Corresponding code can be found at: app.component.html  -->


<ion-content>
  <ion-card>
    <ion-list>

        <ion-item>
        <ion-icon name="briefcase" slot="start"></ion-icon>
       <h1>Experience</h1> 
              </ion-item>
            </ion-list> 

  <!-- table -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
            09.2017 - 02.2018 
        </div>
      </ion-col>
      <ion-col>
        <div>
            Trainee at the company tecwriter in the area of screencasting & e-learning
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <div>
              10.2018 - 02.2019 
          </div>
        </ion-col>
        <ion-col>
          <div>
              Working student at the TECHNIA company in the area of e-learning creation
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <div>
                03.2019 - 07.2019 
            </div>
          </ion-col>
          <ion-col>
            <div>
                Bachelor student at the company TECHNIA
            </div>
          </ion-col>
        </ion-row>
  </ion-grid>

 </ion-card>

 <ion-card>
    <ion-list>
        <ion-item>
        <ion-icon name="school" slot="start"></ion-icon>
       <h1>Education and Studies</h1> 
              </ion-item>
             
            </ion-list> 

  <!-- table -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
            2006 - 2008  
        </div>
      </ion-col>
      <ion-col>
        <div>
            Heinrich-von-Zügel-Gymnasium, Murrhardt
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <div>
              2008 – 2010
          </div>
        </ion-col>
        <ion-col>
          <div>
              Lautereck Realschule, Sulzbach a.d. Murr
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <div>
                2010 – 2012 
            </div>
          </ion-col>
          <ion-col>
            <div>
                August-Ludwig-Schlözer Realschule, 
Kirchberg a.d. Jagst 

            </div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <div>
                  2012 - 2015 
              </div>
            </ion-col>
            <ion-col>
              <div>
                  Technisches Gymnasium, Crailsheim 				Focus: Media and Design
  
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <div>
                    2015 - vsl. 01.2020
                </div>
              </ion-col>
              <ion-col>
                <div>
                    University of Applied Sciences;
Communication and Media Management, 
Karlsruhe; Graduation: Bachelor of Arts

    
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div>
                      08.2019 - 12.2019 
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                      Semester abroad at the Laurea University in Helsinki, Finland; Business Information Technology
      
                  </div>
                </ion-col>
              </ion-row>
  </ion-grid>

 </ion-card>
</ion-content>



