.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }

  img {
    
    border: 10px solid  rgb(54, 179, 202);
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

 