<!-- This is the header with a toolbar. -->
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>My CV</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Every page starts with a ion-list with a small icon 
  and a second title which is alwys taged as h1.
Corresponding code can be found at: app.component.html  -->

<ion-content>
    <ion-list>
        <ion-item>
        <ion-icon name="document" slot="start"></ion-icon>
       <h1>My CV</h1> 
              </ion-item>
<!-- From here each site is individual.
CV page starts with text and then a picture.  -->               
              <ion-item>
                 <p>Let me convince you with my curriculum vitae!</p> 
              </ion-item>
            </ion-list> 
    <figure>
      <img src="/assets/img/191016_Lebenslauf_v3.png" alt="Lebenslauf">
    </figure>
</ion-content>



