<!-- This is the header with a toolbar. -->
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>My Projects</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Every page starts with a ion-list with a small icon 
  and a second title which is alwys taged as h1.
Corresponding code can be found at: app.component.html  -->
<ion-content>
    <ion-list>
        <ion-item>
        <ion-icon name="apps" slot="start"></ion-icon>
 <h1>My Projects</h1>
        </ion-item>

  <!-- From here each site is individual. 
    On this page there is a list with images, videos and text -->       

<div id="id1">
 <p> Here can you see some of my projects.</p>
 </div>

<ion-card>
<ion-item>
  <p>
    Information graphic for a license model
  </p>
   <figure>
    <img src="/assets/img/190710_DSLS_Infografik.png" alt="Infographic">
    </figure>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
        <p>
          e-learning videos
        </p>
         <video src="assets/video/vid1.mp4">
        </video>
          </ion-item>
  </ion-card>

<ion-card>
    <ion-item>
      <p>Corporate Design "Sandtner"
      </p>
        <figure>
         <img src="/assets/img/Sandtner.png" alt="Infographic">
         </figure>
         </ion-item>
  </ion-card>
  <ion-card>
         <ion-item>
            <p>Website "Schellinger"
            </p>
              <figure>
               <img src="/assets/img/schellinger1.PNG" alt="Infographic">
               </figure>
               </ion-item>



  <ion-item>
    <figure>
                     <img src="/assets/img/schellinger2.PNG" alt="Infographic">
                     </figure>
                     </ion-item>
                     <ion-item>
                        
                          <figure>
                           <img src="/assets/img/schellinger3.PNG" alt="Infographic">
                           </figure>
                           </ion-item>

<ion-item>
</ion-item>
</ion-card>
  </ion-list>
  
</ion-content>
