<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>My Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
        <ion-icon name="apps" slot="start"></ion-icon>
 <h1>My Projects</h1>
        </ion-item>
        

        <div id="id1">
            <p>
              Here can you see some of my projects.
            </p>
            
          
                  </div>
<ion-item>
  <p>
    Information graphic for a license model
  </p>
   <figure>
    <img src="/assets/img/190710_DSLS_Infografik.png" alt="Infographic">
    </figure>
    </ion-item>
    <ion-item>
        <p>
          e-learning videos
        </p>
         <video src="assets/video/vid1.mp4">
        </video>
          </ion-item>

   

    <ion-item>
      <p>Corporate Design "Sandtner"
      </p>
        <figure>
         <img src="/assets/img/Sandtner.png" alt="Infographic">
         </figure>
         </ion-item>

         <ion-item>
            <p>Website "Schellinger"
            </p>
              <figure>
               <img src="/assets/img/schellinger1.PNG" alt="Infographic">
               </figure>
               </ion-item>
               <ion-item>
                  
                    <figure>
                     <img src="/assets/img/schellinger2.PNG" alt="Infographic">
                     </figure>
                     </ion-item>
                     <ion-item>
                        
                          <figure>
                           <img src="/assets/img/schellinger3.PNG" alt="Infographic">
                           </figure>
                           </ion-item>


                           <ion-item>
                             
                               </ion-item>
  </ion-list>
  
</ion-content>
