<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header></ion-list-header>
        <ion-item>
        <ion-icon name="Contact" slot="start"></ion-icon>
        
        </ion-item>
        </ion-list>

     

<div id="id1">
 <h1>Connect with me today.</h1>  
 <p> Are you looking for a e-learning autor? 
   Or maybe you need some consulting or training services?
   Send an email or just call +49 15224896144. </p>
   <p>

    
   </p>
</div>
</ion-content>
