<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        <h1>Connect with me today.</h1> 
        </ion-item>
        </ion-list>

     

<div id="id1">
  
<p> Are you looking for a e-learning autor? 
   Or maybe you need some consulting or training services? </p>
<P> Send an email to albrecht.iris8@web.de or just call +49 15224896144.</P>

</div>
</ion-content>
