<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>contact-titel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Welcome to Contact</ion-list-header>
        <ion-item>
        <ion-icon name="Contact" slot="start"></ion-icon>
        
        </ion-item>
        </ion-list>

        <h1>Connect with 
          me today.</h1>
<div id="id2">


</div>
</ion-content>
