<!-- Iris Albrecht
1902170
1902170@laurea.fi -->

<!-- This is the header with a toolbar. -->
<ion-header>
  <ion-toolbar>
          <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>Skills</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Every page starts with a ion-list with a small icon 
  and a second title which is alwys taged as h1.
Corresponding code can be found at: app.component.html  -->
<ion-content>
  <ion-card>
    <ion-list>
        <ion-item>
        <ion-icon name="checkbox" slot="start"></ion-icon>
        <h1>Hard Skills</h1>
        </ion-item>
<!-- From here each site is individual.
extras page contains ion-items with icons and text. --> 
        <ion-item><ion-icon name="checkmark"></ion-icon>
          <p>
            Experience in UI and UX design principles
            
            
          </p>
        </ion-item>
        <ion-item><ion-icon name="checkmark"></ion-icon>
            <p>
              Ionic 3 and Cordova mobile app development
             
            </p>
          </ion-item>
          <ion-item><ion-icon name="checkmark"></ion-icon>
              <p>
                Prototyping with Adobe XD
                
              </p>
            </ion-item>
            <ion-item><ion-icon name="checkmark"></ion-icon>
                <p>
                  Firebase database connection and authentication in mobile app
                </p>
              </ion-item>
        </ion-list>
      </ion-card>
      <ion-card>
        <ion-list>
            <ion-item>
            <ion-icon name="checkbox" slot="start"></ion-icon>
            <h1>Soft Skills</h1>
            </ion-item>
    <!-- From here each site is individual.
    extras page contains ion-items with icons and text. --> 
            <ion-item><ion-icon name="checkmark"></ion-icon>
              <p>
                adaptability
              </p>
            </ion-item>
            <ion-item><ion-icon name="checkmark"></ion-icon>
                <p>
                 creative thinking  
                </p>
              </ion-item>
              <ion-item><ion-icon name="checkmark"></ion-icon>
                  <p>
                    teamwork and networking
                  </p>
                </ion-item>
                <ion-item><ion-icon name="checkmark"></ion-icon>
                    <p>
                     time management
                    </p>
                  </ion-item>
                  <ion-item><ion-icon name="checkmark"></ion-icon>
                    <p>
                      critical thinking
                    </p>
                  </ion-item>
                  <ion-item><ion-icon name="checkmark"></ion-icon>
                    <p>
                      conflict resolution
                    </p>
                  </ion-item>
                  <ion-item><ion-icon name="checkmark"></ion-icon>
                    <p>
                      motivation
                    </p>
                  </ion-item>
            </ion-list>
          </ion-card>
</ion-content>
