<!-- Iris Albrecht
1902170
1902170@laurea.fi -->

<!-- padding center text-center is for place all content in the middle -->
<ion-content padding center text-center>
  <ion-title>
      Iris Albrecht - My CV
    </ion-title>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="username"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password"> </ion-input>
    </ion-item>
  </ion-list>
<!-- This is the button with the login function. Function can be found at: home.page.ts-->
  <ion-button (click)='login()'>Log in</ion-button>
</ion-content>
